:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #DDD;
  box-sizing: border-box;
  height: 100%;

  .profile {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding: 2em 2em;
    border: 1px solid silver;
    background: #FFF;

    button {
      text-align: center;
      margin-top: 1em;
    }
  }
}
