<div class="main-content">
  <ng-container *ngFor="let data of currentData; let i=index " >

    <ng-container *ngIf="i<20">


      <ng-container *ngIf="dataKind==='users'" >

        <div class="card"  (click)="onDetails(data.id)" >
          <div class="card-main-data">
            <div class="user-main"><span>Name: </span>{{data.name}}</div>
            <div class="user-main"><span>User name</span>{{data.username}}</div>
            <div class="user-main"><span>City</span>{{data.address?.city}}</div>
          </div>
          <div class="card-second-data">
            <div class="user-second"><span>Phone: </span>{{data.phone}}</div>
            <div class="user-second"><span>Email: </span>{{data.email}}</div>
            <div class="user-second"><span>Company: </span>{{data.company?.name}}</div>

          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="dataKind==='photos'">
        <div class="card-photo" (click)="onDetails(data.id)">

          <div class="photo-pict">
            <img [src]="data.thumbnailUrl" class="picture" alt="img" *ngIf="data.thumbnailUrl">
          </div>
          <div class="photo-info">
            <div class="info-title"><span>Title: </span>{{data.title}}</div>
            <div class="info-url"><span>Url: </span>{{data.url}}</div>
          </div>

        </div>
      </ng-container>

      <ng-container *ngIf="dataKind==='todos'">
        <div class="card-todo" (click)="onDetails(data.id)">

          <div class="todo-user">
            <div class="todo-user-number">{{data.userId}}</div>
            <div>userId</div>
          </div>
          <div class="todo-info">
            <div class="info-title"><span>Title: </span>{{data.title}}</div>
            <div class="info-completed"><span>Completed: </span>{{data.completed}}</div>
          </div>

        </div>
      </ng-container>

      <ng-container *ngIf="dataKind==='posts'">
        <div class="card-posts" (click)="onDetails(data.id)" >
          <div class="posts-user">
            <div class="posts-user-number">{{data.userId}}</div>
            <div>userId</div>
          </div>
          <div class="posts-info">
            <div class="info-title"><span>Title: </span>{{data.title}}</div>
            <div class="info-completed">{{data.body}}</div>
          </div>

        </div>
      </ng-container>

      <ng-container *ngIf="dataKind==='albums'">
        <div class="row">
          <div class="card-album "   (click)="onDetails(data.id)">

             <div class="album-info">
              <div class="info-title"><span>Title:</span>{{data.title}}</div>

            </div>

          </div>
        </div>



      </ng-container>

    </ng-container>
  </ng-container>
  <div class="wrap-pagination">
    <ng-container *ngIf="pagination.length<numberPages">
      <div   *ngFor="let page of pagination" (click)="changePage(page)" >
        <span class="page" [class.active]="page===selectedPage" >
          <span class="page-number">{{page}}</span>
        </span>
      </div>
    </ng-container>
    <ng-container *ngIf="pagination.length>=numberPages">
      <div   *ngFor="let page of pagination; let i=index" (click)="changePage(page)" >
        <span class="page" [class.active]="page===selectedPage" *ngIf="i<numberPages" >
          <span class="page-number">{{page}}</span>
        </span>
      </div>
     <!-- <div class="dot">....</div>
      <div   *ngFor="let page of pagination; let i=index" (click)="changePage(page)" >
        <span class="page" [class.active]="page===selectedPage" *ngIf="i>pagination.length-5" >
          <span class="page-number">{{page}}</span>
        </span>
      </div>-->
    </ng-container>


  </div>
</div>

