@import '../../../styles';

:host {

  .wrapper {
    display: grid;
    justify-items: stretch;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    align-content: stretch;
    grid-gap: 10px;

    .users-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 5px;
      background: $bg20l;

      &:hover {
        background: $bg10l;
      }

      .users-list__meta {
        padding: $pad1rm;
        background: $bg30l;
      }

      .users-list__footer {
        display: flex;
        height: 100%;
        align-items: flex-end;
        padding: 1rem;
      }
    }

    .pagination {
      grid-column: 1/3;
    }
  }
}

@media all and (max-width: 651px) {
  :host {
    .pagination {
      grid-column: 1/1;
    }

    .wrapper {
      display: block;
    }
  }
}
