<div class="wrapper">
  <div class="users-list"
    *ngFor="let user of items | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
    <div class="users-list__meta">
      <div class="users-list__id">UID: {{user.id }}</div>
      <div>Name: {{user.name}}</div>
      <div>Email: {{user.email }}</div>
      <div>Phone: {{user.phone }}</div>
      <div>WebSite: <a href="http://{{user.website}}" target="_blank">{{user.website }}</a></div>
      <div>Company: {{user.company.name }}</div>
    </div>
    <div class="users-list__footer">
      <a [routerLink]="['/posts', user.id]">Posts</a>&nbsp;|&nbsp;
      <a [routerLink]="['/albums', user.id]">Albums</a>
    </div>
  </div>
  <pagination-controls *ngIf="items && items.length>itemsPerPage" (pageChange)="currentPage = $event"
    class="pagination">
  </pagination-controls>
</div>