<div class="users-post">
  <div class="users-post__userid">
    <a [routerLink]="['/users', item.userId]"> UserID: {{item.userId}}</a>
  </div>
  <div class="users-post__meta">
    <div class="users-post__title">#{{item.id}}: {{item.title}}</div>
    <div class="users-post__body">{{item.body}}</div>
    <div class="users-post__functions">
      <a [routerLink]="['/comments', item.id]" routerLinkActive="active">Comments</a> |
      <a [routerLink]="['/albums', item.userId]" routerLinkActive="active">Albums</a> |
      <a [routerLink]="['/posts', item.userId]" routerLinkActive="active">User's Posts</a>
    </div>
  </div>
</div>