<div *ngIf="!items" class="loading"><img src="../../../assets/loading.gif"></div>
<div class="users-post" *ngFor="let post of items | paginate: { itemsPerPage: iPerPage, currentPage: p }">
  <div class="users-post__userid">
    <a [routerLink]="['/users', post.userId]"> UserID: {{post.userId}}</a>
  </div>
  <div class="users-post__meta">
    <div class="users-post__title">#{{post.id}}: {{post.title}}</div>
    <div class="users-post__body">{{post.body}}</div>
    <div class="users-post__functions">
      <a [routerLink]="['/comments', post.id]" routerLinkActive="active">Comments</a> |
      <a [routerLink]="['/albums', post.userId]" routerLinkActive="active">Albums</a> |
      <a [routerLink]="['/posts', post.userId]" routerLinkActive="active">User's Posts</a>
    </div>
  </div>
</div>
<pagination-controls *ngIf="items && items.length>iPerPage" (pageChange)="p = $event" class="pagination">
</pagination-controls>