@import '../styles.scss';

:host {

  display: grid;
  grid-template-areas:
    "header header"
    "nav article";
  grid-template-rows: 4.5rem 1fr;
  grid-template-columns: 20% 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;

  .main-articles {
    grid-area: article;
    background: $bg-articles;
    padding: 1rem;
  }
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 651px) {
  :host {
    grid-template-areas: "header"
      "nav"
      "article";
    grid-template-rows: 40px 1fr 2fr;
    grid-template-columns: 1fr;
  }
}
