@import "../../scss/globalVariables";

.sidebar{
  position: absolute;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 20vw;
  background-color: $sidebar-color;
  color: $second-font-color;
  left: 0;
  .sidebar-items{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    .sidebar-item{
      font-size: $font-size*1.5;
      cursor: pointer;
      transition: 1s;
    }
    .sidebar-item:hover{
      margin-left: 2vw;
      transition: 1s;
    }
    .sidebar-item-active{
      color: $specify-red-color;
    }
  }
}
