<div class="wrapper">
  <div class="users-photos" *ngFor="let photo of pagedItems">
    <div class="users-photos__img">
      <a href="{{photo.url}}" target="_blank" title="{{photo.title}}"><img src="{{photo.thumbnailUrl}}"
          alt="{{photo.title}}" /></a>
    </div>
    <div class="users-photos__title">{{photo.title}}</div>
  </div>
  <ul *ngIf="pager?.pages?.length > 1" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
</div>