@import '../../../styles';

:host {

  .wrapper {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 100%;

    .users-photos {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin: 2px;
      background: $bg20l;

      &:hover {
        cursor: pointer;
        background: $bg40l;
      }

      div {
        padding: $pad1rm;
      }

      .users-photos__title {
        border-top: 1px solid silver;
        background: rgba(230, 232, 209, 0.482);
      }

      .users-photos__img {
        height: 100%;
        text-align: center;
      }
    }

    .pagination {
      grid-column: 1/4;
    }
  }
}
