<div class="wrapper">
  <div class="users-photos"
    *ngFor="let photo of items | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
    <div class="users-photos__img">
      <a href="{{photo.url}}" target="_blank" title="{{photo.title}}"><img src="{{photo.thumbnailUrl}}"
          alt="{{photo.title}}" /></a>
    </div>
    <div class="users-photos__title">{{photo.title}}</div>
  </div>
  <pagination-controls *ngIf="items && items.length>itemsPerPage" (pageChange)="currentPage = $event"
    class="pagination">
  </pagination-controls>
</div>