<div *ngIf="!posts" class="loading"><img src="../../../assets/loading.gif"></div>
<div class="wrapper">
  <div class="users-photos" *ngFor="let photo of items | paginate: { itemsPerPage: iPerPage, currentPage: p }">
    <div class="users-photos__img">
      <a href="{{photo.url}}" target="_blank" title="{{photo.title}}"><img width="150" height="150"
          src="{{photo.thumbnailUrl}}" alt="{{photo.title}}" /></a>
    </div>
    <div class="users-photos__title">{{photo.title}}</div>
  </div>
  <pagination-controls *ngIf="items && items.length>iPerPage" (pageChange)="p = $event" class="pagination">
  </pagination-controls>
</div>