@import 'src/styles';

:host {
  .users-post {
    background-color: $bg10l;
    padding: $pad1rm;
    margin-bottom: 1rem;
    display: flex;
    border: $brdsilv;

    .users-post__userid {
      padding: 20px 30px;
      background: $bg30l;
      margin-right: 1rem;
      border: $brdsilv;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .users-post__meta {
      border: $brdsilv;
      background: $bg20l;
      width: 100%;
    }

    .users-post__title {
      padding: 10px;
      background: $bg30l;
    }

    .users-post__body {
      padding: 10px;
    }
  }

  .users-comments {
    background-color: $bg10l;
    padding: $pad1rm;
    margin-bottom: 1rem;

    .users-comments__meta {
      padding: $pad5p;
      background: $bg20l;
      width: 100%;
    }

    .users-comments__body {
      padding: $pad5p;
      background: $bg30l;
    }
  }
}
