//color
$base-font-color: black;
$second-font-color: white;
$specify-red-color: #f83947;
$background-color: #242c32;
$sidebar-color: #1b1e21;
//media
$mq-xs: "(max-width: 767px)";
$mq-sm: "(min-width: 768px) and (max-width: 991px)";
$mq-md: "(min-width: 992px) and (max-width: 1199px)";
$mq-lg: "(min-width: 1200px)";
//size
$font-size: 1rem;




$columns: 24;
.rowCustom{
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 100%/$columns*$i;
  }
  .col-offset-#{$i} {
    margin-left: 100%/$columns*$i;
  }
}
