<div class="wrapper">
  <div class="users-albums"
    *ngFor="let album of items | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }"
    [routerLink]="['/photos', album.id]">
    <div class="users-albums__id">
      <div>Album ID: {{album.id}}</div>
      <div><a [routerLink]="['/users', album.userId]"> UserID: {{album.userId}}</a></div>
    </div>
    <div class="users-albums__title">{{album.title}}</div>
  </div>
  <pagination-controls *ngIf="items && items.length>itemsPerPage" (pageChange)="currentPage = $event"
    class="pagination">
  </pagination-controls>
</div>