<div class="main-details" *ngIf="dataDetailse!=undefined">
  <div class="details-content" *ngIf="currentTypeData ===selectTypeData.users">
    <div class="content-header">{{dataDetailse.title}}</div>
    <div class="content-header">{{dataDetailse.name}}</div>
    <div class="content-username">{{dataDetailse.username}}</div>

    <div class="content-main">
      <div>
        <div class="main"><span>Username:</span>{{dataDetailse.username}}</div>
        <div class="main"><span>Phone:</span>{{dataDetailse.phone}}</div>

      </div>
      <div>
        <div class="main"><span>Website:</span>{{dataDetailse.website}}</div>
        <div class="main"><span>Email:</span>{{dataDetailse.email}}</div>
      </div>

    </div>
    <div class="content-second">
      <div>
        <div class="second"><span>Username:</span>{{dataDetailse.username}}</div>
        <div class="second"><span>Phone:</span>{{dataDetailse.phone}}</div>

      </div>
      <div>
        <div class="second"><span>Website:</span>{{dataDetailse.website}}</div>
        <div class="second"><span>Email:</span>{{dataDetailse.email}}</div>
      </div>

    </div>
  </div>
  <div class="details-content" *ngIf="currentTypeData ===selectTypeData.posts">
    <div class="content-header">{{dataDetailse.title}}</div>

    <div class="content-main">
      <div>
        <div class="main"> {{dataDetailse.body}}</div>

      </div>
    </div>
  </div>

  <div class="details-content" *ngIf="currentTypeData ===selectTypeData.albums">
    <div class="content-header">{{dataDetailse.title}}</div>


  </div>
  <div class="details-content" *ngIf="currentTypeData ===selectTypeData.todos">
    <div class="content-header">{{dataDetailse.title}}</div>

    <div class="content-main">
      <div>
        <div class="main"><span>Completed: </span>{{dataDetailse.completed}}</div>

      </div>
    </div>
  </div>
  <div class="details-content" *ngIf="currentTypeData ===selectTypeData.photos">
    <div class="content-header">{{dataDetailse.title}}</div>

    <div class="content-main">
      <div>
        <img [src]="dataDetailse.thumbnailUrl" alt="">

      </div>


    </div>
    <div class="content-second">
      <div>
        <div class="second"><span>Url:</span>{{dataDetailse.url}}</div>


      </div>


    </div>
  </div>

</div>
